__pycache__
*.ipynb_checkpoints
*models/
preprocessing

*.idea
*.log
*.py[cod]
*$py.class
*_build
*_static
*_templates
*.DS_store
# virtual environment
*.venv
*ump/

# cache folders
*.swp
*.pyc
*.cache/

# pip package metadata
*egg-info/

# conda build metadata
*build/
*dist/
*lib/
*info/

# Holoclean specific files
*debug/
*.others/
others
