__pycache__
*.ipynb_checkpoints
models
previous
to.zip

*.idea
*.log
*.py[cod]
*$py.class
*_build
*_static
*_templates
*.DS_store
*.venv
*.swp
*.pyc
*.cache/

# pip package metadata
*egg-info/

# conda build metadata
*build/
*dist/
*lib/
*info/

# Holoclean specific files
*debug/
*.others
others
